
#contenedorperfil{
    background: #ffffff;
    height: 800px;
    width: 100%
}
img{
    width: 100%;
}
#perfildocente{ font-family: sans-serif;
    border: 3px solid deepskyblue;
    border-radius: 10px;
    padding: 15px;
    text-align: left;
    color: #000000;

}

.cajatex1{
    width: 100%;
    height: 100px;
}
.cajatex2{
    width: 100%;
}

.th-cabecera1{
    width: 2%;
}
.th-cabecera2{
    width: 1%;
}
#perfildocente2 {
    background: deepskyblue;
    color: #fff;
    padding: 5px 10px ;
    font-size: 24px;
    border-radius: 5px;
    box-shadow: 0 0 0 5px #ddd;
    margin-left: 10px;
    text-align: right;
}
#perfildocente2:hover{
    color: #002a80;

}

#perfildocente2-modificar {
    background: deepskyblue;
    color: #fff;
    padding: 5px 10px ;
    font-size: 24px;
    border-radius: 5px;
    box-shadow: 0 0 0 5px #ddd;
    margin-left: 10px;
    text-align: left;
}
#perfildocente2-modificar:hover{
    color: #002a80;

}
#datosgenerales{
    font-size: 16px;
    font-family: Comic Sans MS, Helvetica, sans-serif;
}
.datos{
    color: #1090C7;
    height: 1%;
    width: 30%;
    font-size: 15px;
    font-family: Comic Sans MS, Helvetica, sans-serif;


}
.datos:hover{
    color: #000000;
    font-size: 16px;
    font-family: fantasy;

}
#cabeceratable-info{
    background: #35B1E5;
    color: #ffffff;
    font-family:"Comic Sans MS";
    text-align: center;
}
#cabeceratable-info:hover{
    background: #ffffff;
    color: #35B1E5;
}




