
#contenedorperfil{
    background: #ffffff;
    height: 600px;
    width: 100%
}
img{
    width: 100%;
}
#perfildocente{ font-family: sans-serif;
    border: 3px solid deepskyblue;
    border-radius: 10px;
    padding: 15px;
    width: 100%;
    text-align: left;
    color: #000000;
}

#perfildocente2 {
    background: deepskyblue;
    color: #fff;
    padding: 5px 10px ;
    font-size: 24px;
    border-radius: 5px;
    box-shadow: 0 0 0 5px #ddd;
    margin-left: 10px;
    text-align: right;
}
#perfildocente2:hover{
    color: #002a80;

}

#datosgenerales{
    font-size: 18px;
}
#datos{
    color: #00CC66;
    height: 1%;
    width: 30%;
    font-size: 16px;
    font-family: Comic Sans MS, Helvetica, sans-serif;

}
#datos:hover{
    color: #000000;
    font-size: 17px;
    font-family: fantasy;

}



