.form.animated.flipInX
 %h2 Login To Your Account
 %form
  %input{:type => "text", :placeholder => "Username"}
  %input{:type => "password", :placeholder => "Password"}
  %button.animated.infinite.pulse Login