body{
    margin: 0;
    background: silver;
    font-family: Arial;
    padding-left: 160px;
    padding-right: 160px;
    padding-top: 10px;
    padding-bottom: 20px;
}
#main{
    width: 100%;
    background: white;
    margin: 0;
}

#header {
    padding: 40px;
    color: #1090c7;
    background-image: url('../img/banner_po1.png');
    background-size: cover;
    margin: 0;
    text-align: right;
}

#top_menu {
    padding: 0px;
    color: red;
    background: #1090c7;
    margin: 0
}

#top_menu ul{
 
    padding: 0;
    list-style: none;
}

#top_menu > li{
    display: inline-block;
}

#top_menu a{
    padding: 3px 15px;
    margin: 0 3px 0 0;
    text-decoration: none;
    color: black;
}

#top_menu a.current{
    color: white;
    background: skyblue;
}

#top_menu a:hover {
    background: skyblue;
    color: #444;
}

#contenido {
    padding: 10px;
}

#contenido h2{
    color: skyblue;
    font-weight: bold;
}
#footer {
    background: #35b1e5;
    color: white;
    padding: 10px;
}
#titulo{
    text-align: right;
}