.top_menu {
    padding: 0px;
    background: #1A191A;
    margin: 0;
}
.letra{
    font-family: sans-serif;
    font-size: 200%;
    font-style: normal;
    color: white;
    text-shadow: -2px 0px 8px rgba(150, 150, 150, 1);
}
h3.a {
    color: white; text-shadow: black 0.1em 0.1em 0.2em;
    text-align:left;
}