* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font: 1em sans-serif;
  background: #ededed;
  text-align: center;
  color: #222;
}

h1 {
  position: absolute;
  left: 40%;
  top: 0%;
  font-size: 5em;
  display: inline-block;
  margin: 0 0 0 -1.8em;
  white-space: nowrap;
    padding: 1.5%;
}

.atom {
  position: absolute;
  left: -0.9em;
  top: 40%;
  width: 0.5em;
  height: 0.5em;
  background: #1090c7;
  border-radius: 50%;
  box-shadow: 0 0 0 0.15em #cad0d2, 0 0 0 0.225em #1090c7;
  -moz-animation: atom linear 7s infinite forwards;
  -webkit-animation: atom linear 7s infinite forwards;
  animation: atom linear 7s infinite forwards;
}
.atom:after {
  position: absolute;
  left: -0.3em;
  top: 0.1125em;
  width: 0.225em;
  height: 0.225em;
  /*content: url("http://4.bp.blogspot.com/-lOa9Ru36r2s/TebIsUfWuDI/AAAAAAAAzOE/tGpQBLCsrpA/s400/Ni%25C3%25B1o%2Bpara%2Bpintar.png");*/
  border-radius: 50%;
}

@-moz-keyframes atom {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes atom {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes atom {
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
