#contenedorcurso{
    background: #ffffff;
    height: 400px;
    width: 100%;
}

table{

}

table th{
    background: #35B1E5;
    color: #ffffff;
    font-family:"Comic Sans MS";
    font-size: 20;
    text-align: center;
}

table td{
    background: #7ab5d3;
    color: #ffffff;
    font-size: 10;
    font-family:"Comic Sans MS";
    text-align: left ;
}

#cabeceratable-info{
    background: #35B1E5;
    color: #ffffff;
    font-family:"Comic Sans MS";
    text-align: center;
}
#cabeceratable-info:hover{
    background: #ffffff;
    color: #35B1E5;
}
